# 小结

pandas软件包是Python中常⽤的数据分析⼯具中，pandas可以与张量兼容。     
⽤pandas处理缺失的数据时，我们可根据情况选择⽤插值法和删除法。

# 练习

创建包含更多⾏和列的原始数据集。
1. 删除缺失值最多的列。
2. 将预处理后的数据集转换为张量格式。

In [12]:
import os
os.makedirs(os.path.join('.', 'data'), exist_ok=True)
data_file = os.path.join('.', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price,Area\n') # 列名
    f.write('NA,Pave,127500,NA\n') # 每⾏表⽰⼀个数据样本
    f.write('2,NA,106000,100\n')#NA==np.nan
    f.write('4,NA,178100,20\n') 
    f.write('NA,NA,140000,NA\n')
#open(data_file1, ‘w’,encoding=‘utf8’)因为中文需要采用utf-8编码

In [51]:
import pandas as pd
data = pd.read_csv(data_file)#data = pd.read_csv('./data/house_tiny.csv')
data

   NumRooms Alley   Price   Area
0       NaN  Pave  127500    NaN
1       2.0   NaN  106000  100.0
2       4.0   NaN  178100   20.0
3       NaN   NaN  140000    NaN

In [55]:
#1方一：
NaNums = data.isna().sum()  #isna():判断是否为空值(布尔) sum():将每列非空值计数 #data.count()一样效果
NaNums_dict = NaNums.to_dict() #转成字典
max_key = max(NaNums_dict.values()) #找出该删除列的空值个数
del_key = max_key-1
data = data.dropna(axis=1,thresh=del_key) #dropna：删除指定空值个数的列,thresh=n表示保留至少含有n个非na数值的行 
data

   NumRooms   Price   Area
0       NaN  127500    NaN
1       2.0  106000  100.0
2       4.0  178100   20.0
3       NaN  140000    NaN

In [16]:
#1方二：
c_list = data.count()#axis=0：计数对应列非NA数值，axis=1：计数对应行非NA数值;c_list当成字典
mini, i =100, 0
for c in c_list:
    if c < mini:       #找出min
        min_loc = i    #找出min（key）
        mini = c
    i+=1
del data[c_list.index[min_loc]] #删除字典对应索引key
data

   NumRooms   Price   Area
0       NaN  127500    NaN
1       2.0  106000  100.0
2       4.0  178100   20.0
3       NaN  140000    NaN

In [18]:
#2
import torch
inputs = data.iloc[:,:] #iloc：提取csv（字典）结构中数据,通过行号来取行数据
inputs = inputs.fillna(inputs.mean())
inputs
#inputs = pd.get_dummies(inputs, dummy_na=True)转换非数字数据

   NumRooms   Price   Area
0       3.0  127500   60.0
1       2.0  106000  100.0
2       4.0  178100   20.0
3       3.0  140000   60.0

In [19]:
#2
X = torch.tensor(inputs.values)
X

tensor([[3.0000e+00, 1.2750e+05, 6.0000e+01],
        [2.0000e+00, 1.0600e+05, 1.0000e+02],
        [4.0000e+00, 1.7810e+05, 2.0000e+01],
        [3.0000e+00, 1.4000e+05, 6.0000e+01]], dtype=torch.float64)